{% extends 'base.html' %}
{% block content %}

<div class="container text-center">
    <div class="row">
        <div class="col-8">
            <h3>All Tasks</h3></br>
            {% for task in tasks %}
                <div class="alert alert-primary" role="alert">
                    {{ task.body }}</br>
                    <small class="text-muted">
                        {{ task.created_at }} by {{ task.user.username }}
                    </small>
                </div>
            {% endfor %}
        </div>
        <div class="col-4">
            </br></br></br>
            {% if form %}
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                
                <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}