{% extends 'base.html' %}
{% block content %}

<br/>
<div class="container" style="background-color: #c1dcf9">
<div class="task-container rounded-3 p-3" style="background-color: #eceeef">
    <div class="row">
        <h1>Hello, {{ user.first_name }}! <span class="wave">👋</span></h1>
    </div>
    <hr/>
    <br/>
    <div class="row">
        <div class="col-8">
            <h3>To-Do <span class="wave">📝</span></h3></br>
            <div class="task-container" style="height: 355px; overflow-y: auto; padding-right: 10px;">
            {% for task in tasks %}
            {% if task.status != 'completed' %}
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center" style="font-size: 20px; font-weight: bold;">
                  {{ task.title }}
                  <div class="btn-group">
                    {% if task.status == 'not_started' %}
                    <button class="btn btn-danger btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Not Started
                    {% else %}
                    <button class="btn btn-warning btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        In Progress
                    {% endif %}
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <form method="POST" action="{% url 'update-status' task.id %}" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="status" value="not_started">
                                <button type="submit" class="dropdown-item">Not Started</button>
                            </form>
                        </li>
                        <li>
                            <form method="POST" action="{% url 'update-status' task.id %}" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="status" value="in_progress">
                                <button type="submit" class="dropdown-item">In Progress</button>
                            </form>
                        </li>
                        <li>
                            <form method="POST" action="{% url 'update-status' task.id %}" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="status" value="completed">
                                <button type="submit" class="dropdown-item">Completed</button>
                            </form>
                        </li>
                    </ul>
                  </div>
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p style="font-size: 18px;">{{ task.body }}</p>
                  </blockquote>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center text-body-secondary">
                    <div>
                    <a class="btn btn-info" data-bs-toggle="modal" data-bs-target="#editTask-{{ task.id }}" role="button" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                        </svg></a>
                    &nbsp;
                    <a class="btn btn-danger" href="{% url 'delete-task' task.id %}" role="button" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg></a></div>
                        <small class="text-muted">{{ task.created_at }}</small>
                  </div>
              </div>
            </br>
            {% endif %}
            <div class="modal fade" id="editTask-{{ task.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Edit</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form method="POST" action="{% url 'edit-task' task.id %}">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="title" class="col-form-label">Title</label>
                                    <input type="text" class="form-control" id="title" name="title" value="{{ task.title }}">
                                </div>
                                <div class="mb-3">
                                    <label for="body" class="col-form-label">Description</label>
                                    <textarea class="form-control" id="body" name="body">{{ task.body }}</textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </br>
    <hr/>
        <h3>Completed <span class="wave">✅</span></h3></br>
            <div class="task-container" style="height: 355px; overflow-y: auto; padding-right: 10px;">
            {% for task in tasks %}
            {% if task.status == 'completed' %}
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center" style="font-size: 20px; font-weight: bold;">
                  {{ task.title }}
                  <div class="btn-group">
                    <button class="btn btn-success btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="true">
                      Completed
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <form method="POST" action="{% url 'update-status' task.id %}" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="status" value="not_started">
                                <button type="submit" class="dropdown-item">Not Started</button>
                            </form>
                        </li>
                        <li>
                            <form method="POST" action="{% url 'update-status' task.id %}" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="status" value="in_progress">
                                <button type="submit" class="dropdown-item">In Progress</button>
                            </form>
                        </li>
                        <li>
                            <form method="POST" action="{% url 'update-status' task.id %}" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="status" value="completed">
                                <button type="submit" class="dropdown-item">Completed</button>
                            </form>
                        </li>
                    </ul>
                  </div>
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p style="font-size: 18px;">{{ task.body }}</p>
                  </blockquote>
                </div>
                <div class="card-footer d-flex justify-content-between align-items-center text-body-secondary">
                    <div>
                    <a class="btn btn-danger" href="{% url 'delete-task' task.id %}" role="button" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg></a></div>
                        <small class="text-muted">{{ task.created_at }}</small>
                  </div>
              </div>
            </br>
            {% endif %}
            {% endfor %}
        </div>
        </div>
        <div class="col-4">
            <h3>Create <span class="wave">✍</span></h3></br>
            {% if form %}
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
</div>

{% endblock %}