<!-- NO LONHER NEEDED ! -->

{% extends 'base.html' %}
{% block content %}

<br/>

<div class="col-md-6 offset-md-3">
    <h3>Login</h3>
    <br/>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" required>
            <div class="form-text">Don't have an account? <a class="link" href="{% url 'register' %}">Register now!</div></a>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}