<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">AssignMate</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% if not user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        {% else %}
        <!--
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact_us' %}">Contact Us</a>
        </li>
        {% endif %}
      </ul>
      <div class="collapse navbar-collapse" id="navbarNav"></div>
        <ul class="nav justify-content-end">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
          {% else %}
          <a class="nav-link" href="{% url 'login' %}">Login</a>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>