{% load static %}

<nav class="navbar navbar-expand-lg" style="background-color: #332D2D">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="{% static 'app/logo.png' %}" class="img-fluid" width="40" height="40"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% if not user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" style="font-size: 18px; color: white;" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <div class="d-flex bd-h-32" style="color: white">
            <div class="vr border-4 opacity-75"></div>
          </div>
          <li class="nav-item">
            <a class="nav-link" style="font-size: 18px; color: white;" href="{% url 'about' %}">About</a>
          </li>
          {% else %}
          <!--
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
          </li>
          -->
          {% endif %}
        </ul>
        <div class="collapse navbar-collapse" id="navbarNav"></div>
          <ul class="nav justify-content-end">
            <li class="nav-item">
              {% if not user.is_authenticated %}
              <!--
              <a class="nav-link" href="{% url 'login' %}">Login</a>
              -->
              {% else %}
              <a class="nav-link" style="font-size: 18px; color: white" href="{% url 'logout' %}">Logout</a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>