{% extends 'base.html' %}
{% block content %}

<br/><br/><br/><br/><br/><br/><br/>
<div class="container d-flex justify-content-center align-items-center" style="width: 800px; background-color: #c1dcf9">
<div class="task-container rounded-3 p-3" style="background-color: #eceeef">
<div class="col">
    <br/>
    <h3>Register New Account</h3>
    <hr/>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
</div>
</div>
</div>

{% endblock %}